html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: $font-md;
  font-weight: 400;
  color: white;
}

//Typography
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.15;
  font-weight: 700;
}

h1 {
  font-size: $font-lg;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

//Spacing

.container {
  max-width: 69.375rem;
  margin: auto;

  &--pall {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint-up(medium) {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  &--px {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  &--py {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

//main container

.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include breakpoint-up(medium) {
    background-color: $veryDarkBlue;
    background-image: url(/images/bg-desktop.png);
    background-size: 100% 50%;
    background-position: bottom;
  }
}
